<!DOCTYPE html>
<html lang="es">
	<!-- <head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="/LSCRsupplies/public/stylesheets/productoUp.css">
	</head> -->


<!-- Include Head -->
<%- include('partials/headProductUp', {title: 'Todos los productos'}) %>
<body>
	<!-- Header -->
    <%- include('partials/header') %>
    <!-- /Header -->

	<!-- todos los productos -->
<div class="container_general">
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title"><%= titulo %> </h2>
			</div>
			<% products.forEach(producto => { %>
			<div class="col-12 col-sm-6 col-lg-3">
						<section class="product-box">
							<a href= <%= "/products/" + producto.id %> >
								<figure class="product-box_image">
									<img class="imageHomeProd" src= <%= "/images/products/" + producto.images %> class="imageHomeProd" src=""  alt="imagen de producto">
								</figure>
								<article class="product-box_data">
									<h2> $ <%= producto.price %> </h2>
									<span> $ <%= producto.promocion %> OFF</span>
									<p><%= producto.name %> </p>
									<i class="fas fa-truck"></i>
								</article>
							</a>
						</section>
			</div>
			<% }) %>
		</div>
	</div>
</div>
	<!-- /todos los productos -->

	<!-- footer -->
	<%- include('partials/footer') %>
	<!-- /footer -->
</body>	
</html>