<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('partials/headCart', {title: 'Mi Carrito'}) %>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
	<!-- Header -->
  <%- include('partials/header') %>
  <script src="/carrito2.js" defer></script>
  <!-- /Header -->
  <!-- Main div del sitio. -->
<body>
  <div class="container">
  <!-- Detalle general de mi compra -->
   
    <div class="container__0">
       <div class="opciones__entrega">
         <marquee class= behavior  direction="left" heigth="30px" scrolldelay="60" > Envíos por mensajería ó Correo Argentino </marquee>
       </div>
    </div>
    <% if (carrito.length >= 1) { %>
      <div class="container__1">
          <h2 class="codigoCarrito">Detalle de mi carrito: <%= carrito[0].idpedido %> </h2>
      </div>
      <% } else  { %>
        <p class="blink" ><%= "EL CARRITO ESTA VACIO!!!" %></p>
    <% } %> 
    
     
     
    <div class="container__2" id="carritoDisplayContent"> 
        <% carrito.forEach(carrito => { %>
          <div class="detalle__compra" id="carrito">
            <section class="idProdCarrito">
              <p><%= carrito.productid %> </p>
            </section>
            <section class="detalle__producto">
              <img class="marcador__kuretake" src=<%= "/images/products/" + carrito.imagen %>  alt="<%= carrito.name %> " width="45px" heigth= "45px">
            </section>
            <section class="descripcion">
              <p><%= carrito.nombre %> </p>
            </section>
            <section class="precio">
              <p>$<%= carrito.precio %> </p> 
            </section>
            <section class="cantidad">
              <i class="fas fa-minus"></i>
              <input class="cantidad_compra" type="text" min="0" step="1" id="cantidad" name="cantidad" value="<%= carrito.cantidad %> " >
              <i class="fas fa-plus"></i>
            </section>
            <section class="descripcion" id="precios">
                <p>$<%= carrito.precio  %> </p>
            </section>
          </div>
        <% }) %>
        
    </div>
    <div class="container__3">
        <section class="resumen_de_pago">
         <h2>Resumen de pago</h2>
        </section> 
        <section class="subtotal">
         <h3>Subtotal</h3>
         <p>$<%= subtotal %> </p>
        </section>
        <section class="total">
          <h2>Total</h2>
          <p>$<%= subtotal %> </p>
        </section>  
    </div>
    <div class="container__4">
          <h2>Elegí tu medio de Pago</h2>
         
          <div class= "medios__pago">
            <section class="mercado__pago">
               <p><input type="radio" name="Mercado Pago" value="Mercado Pago">Mercado Pago</p>
                 <img class="logo__mercado_pago" src="/images/logo_mercadopago.png" alt="Logo Mercado Pago" width="120px">
                 <img class="logo_rapipago" src="/images/logo_rapipago.png" alt="Logo rapipago" width="120px">
            </section> 
            <section class="transferencia">
               <p><input type="radio" name="Mercado Pago" value="Transferencia">Transferencia Bancaria</p>
            </section>
           <!--  <section class="pagar">
               <button type="button" class="pago">PAGAR</button>
            </section> -->
            <% if (carrito.length >= 1) { %>
            <form action="/products/payment" method="post" class="pagarCarrito" style="display: none;">
              <button >EFECTUAR PAGO</button>
              
            </form>
            
              <form action="/products/payment" method="post" class="pagar">
                <button class="pago">FINALIZAR</button>
                
              </form>
            <% } %>
          </div>
    </div>
    <!-- Editar compra -->
    <div class="container__5">  
      
      <form action="/products/">
        <section class="seguir__comprando">
          <button>Seguir Comprando</button>
        </section>
        
      </form>
      <form action="/products/clearCart">
          <section class="vaciar__carrito">
          <button>Vaciar Carrito</button>
        </section>
      </form>
      
    </div>
  </div>
</body>
<!-- Footer del sitio-->
<%- include('partials/footer') %>
<!-- /footer -->
</html>

