<!DOCTYPE html>
<html lang="en">
<!-- Include Head -->
<%- include('partials/headProductUp', {title: 'Inicio'}) %>
<script src="/saveImag.js" defer></script>
<body>
    <!-- Header -->
    <%- include('partials/header') %>
    <!-- /Header -->
    <!-- Main div del sitio. -->
    <div class="containerPc">
        <!-- Header del sitio -->
        
        <!--  seccion carga -->
        <main class="containerProd products-wrapper">
            <div class="head_row">
                <div class="colum_1">
                    <h2 class="productTitle">Formulario Para Agregar Productos</h2>
                </div>
            </div>
            <form action="/products" method="post" enctype="multipart/form-data">
                <!-- Nombre del producto -->
                <div class="colum_1 colum_D6">
                    <label for="name" class="formLabel">Nombre del producto:</label>
                    <input type="text" id="name" name="name" required placeholder="Ej: Lapices De Color Faber Castell X 50 " class="form-input">
                </div>
                <!-- FIN Nombre del producto -->
                <!-- precio del producto / stock / codigo -->
                <div class="colum_1 colum_D6 disp_flex wrap_">
                    <article class="article_stock_cod">
                        <label for="codigo  " class="formLabel">Codigo Producto:</label>
                        <input type="text" id="codigo" required name="codigo" placeholder="Ej.#1234" class="article-input">
                    </article>
                    <article class="article_stock_cod">
                        <label for="stock" class="formLabel">Stock:</label>
                        <input type="number" id="stock" name="stock" placeholder="Ej.#1234" class="article-input">
                    </article>
                    <article class="article_stock_cod">
                        <label for="price" class="formLabel">Precio del producto:</label>
                        <input type="number" id="price" name="price" placeholder="Precio Original" class="article-input">
                    </article>
                    <article class="article_stock_cod">
                        <label for="promocion" class="formLabel">Precio Promocional:</label>
                        <input type="number" id="promocion" name="promocion" placeholder="Precio Promocional" class="article-input">
                    </article>
                </div>
                <!-- FIN precio del producto y stock -->
                <!-- descripcion del Producto -->
                <div class="colum_1">
                    <label for="description" class="formLabel ">Descipción del Producto:</label>
                    <textarea name="descripcion" id="description" class="form-input"></textarea>
                </div>
                <!-- FIN descripcion del Producto -->
                <!-- FIN categoria del producto -->
                <!-- variantes -->
                <div class="variante">
                    <section class="borderPc">
                        <label for="colores" class="form-label">Color:</label>
						<select name="colores" id="" class="form-input " multiple>
							<% colores.forEach(color => {%>
								<option value = '<%= color.id%>' ><%= color.name %></option> 
							<%})%>
						</select>
                    </section>
                    <section class="borderPc">
                        <label for="brand_id" class="form-label">Marca:</label>
						<select name="brand_id" id="" class="form-input ">
							<%brand.forEach(brand => {%>
								<option value = '<%= brand.id%>' ><%= brand.name %></option>
							<%})%>
						</select>
                    </section>
                    <section class="borderPc">
                        <label for="metodoPago" class="form-label">Metodo Pago:</label>
						<select name="metodoPago" id="" class="form-input " multiple>
							<% payment.forEach(metodo => {%>
								<option value = '<%= metodo.id%>' ><%= metodo.name %></option> 
							<%})%>
						</select>
                    </section>
                    <section class="borderPc">
                        <label for="shipping" class="form-label">Envio:</label>
						<select name="shipping" id="" class="form-input " multiple>
							<% shipping.forEach(envio => {%>
								<option value = '<%= envio.id%>' ><%= envio.name %></option>
							<%})%>
						</select>
                    </section>
                    
                </div>
                <div class="borderPc  diplay_imag ">
                    <div class="borderPc box_img disp_flex flexFlowCol">
                        <label for="Imagen" class="formLabel"></label>
                        <input class="formInput" type="file" id="image" name="images" onchange="loadFile(event)">
                       <label for="Imagen" class="formLabel"></label>
                        <input class="formInput" type="file" id="image1" name="image1" onchange="loadFile1(event)">
                        <label for="Imagen" class="formLabel not_img "></label>
                        <input class="formInput not_img" type="file" id="image2" name="image2" onchange="loadFile2(event)" >
                        <label for="Imagen" class="formLabel not_img"></label>
                        <input class="formInput not_img " type="file" id="image3" name="image3" onchange="loadFile3(event)" >
                    </div>  
                    <div class="borderPc  "> 
                        <img class="box_img" id="output" alt="image1">
                    </div>
                    <div class="borderPc  ">
                        <img class="box_img" id="output1" alt="image2">
                    </div>
                    <div  class="borderPc    not_img">
                        <img class="box_img" id="output2" alt="image3">
                    </div>
                    <div class="borderPc    not_img">
                        <img class="box_img" id="output3" alt="image4">
                    </div>
                </div> 
                <!--FIN  carga de Imagen -->
                <!-- seccion boton submit -->
                <div class="displayGrid ancho_100">
                    <button  type="submit" class="save_button">Guardar producto</button>
                </div>
                <!--FIN  seccion boton submit -->
            </form>
            <!-- fin formulario action -->
        </main>
        <!-- Marcas reconocidas -->
        <!--footer-->
    <footer>
        <%- include('partials/footer') %>
    </footer>
    <!--Fin Footer-->
    </div>
</body>
</html>